@import "shared/styles/variables.scss";

.card {
    background: $grey1;
    border: 1px solid $grey2;
    border-radius: 3px;
    padding: 12px 15px;
    color: $black;

    &.active {
        border: 1px solid $black;
    }

    &.clickable {
        cursor: pointer;
    }

    .card-header {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
    }

    .card-body {
        font-weight: bold;
        min-height: 57px;

        p {
            margin: 0;
        }

        .valueWithUnit {
            margin-right: 5px;
            &:last-child {
                margin-right: 0px;
            }
            .value {
                font-size: 24px;
                &.withMargin {
                    margin-right: 5px;
                }
            }
            .unit {
                font-size: 14px;
                &.big  {
                    font-size: 24px;
                }
            }
        }
    }

    .card-footer {
        margin-top: 8px;
        text-transform: uppercase;
        font-weight: 600;
        color: $grey5;
        font-size: 11px;
        a {
            text-decoration:none;
            color: $grey5;
            &.active {
                color: $black;
            }
            &:hover {
                color: $black;
            }
        }
        &.timestampWarning {
            margin-top: 6px;
            color: $errorRed;
            a {
                text-decoration:none;
                color: $errorRed;
                &.active {
                    color: $black;
                }
                &:hover {
                    color: $black;
                }
            }
        }
        svg {
            height:16px;
            width:16px;
            position: relative;
            margin-right:2px;
            margin-bottom:-3px;
            margin-top:0px;
            padding:0px;
        }
    }
}
