language: go
go:
  - "1.10.x"
sudo: true

before_install:
  - go get github.com/golang/mock/mockgen
           github.com/dominikznidar/govendor
           github.com/go-swagger/go-swagger/cmd/swagger
  - make

script:
  - make test
