version: "3"
services:
  traefik:
    build:
      context: .
      dockerfile: Dockerfile.traefik
    image: traefik:1.4-alpine
    command:
    - --configfile=/etc/traefik.toml
    - --debug
    volumes:
    - ./traefik.toml:/etc/traefik.toml
    - ./bin/tls:/certs
    - /var/run/docker.sock:/var/run/docker.sock
    ports:
    - 80:80
    - 443:443
    - 8080:8080

  vault:
    image: vault
    environment:
    - VAULT_DEV_ROOT_TOKEN_ID=root
    - VAULT_DEV_LISTEN_ADDRESS=127.0.0.1:8800
    cap_add:
    - IPC_LOCK
    command:
    - vault
    - server
    ports:
    - 8200:8200
    volumes:
    - ./.data/vault:/data
    - ./bin/tls:/certs
    - ./vault.hcl:/vault/config/local.hcl

  vaultui:
    image: djenriquez/vault-ui
    environment:
    - VAULT_URL_DEFAULT=https://vault:8200
    - VAULT_AUTH_DEFAULT=TOKEN
    - NODE_TLS_REJECT_UNAUTHORIZED=0
    depends_on:
    - vault

  localAuth:
    build:
      context: .
    image: golang
    depends_on:
    - cloudAuth
    command:
    - /wwm/localAuth
    volumes:
    - ./.bin/:/wwm
    - ./.data/localAuth:/data
    - ./bin/tls:/certs

  localStorage:
    image: golang:1.9-alpine
    command:
    - /wwm/localStorage
    volumes:
    - ./.bin/:/wwm
    - ./bin/tls:/certs:ro
    - ./bin/tls/ca.pem:/etc/ssl/certs/ca-iryo.pem:ro
    # environment:
    # - DEBUG=1

  localMinio:
    image: minio/minio
    command:
    - server
    - /data
    environment:
    - MINIO_ACCESS_KEY=local
    - MINIO_SECRET_KEY=localminio
    ports:
    - 9000:9000
    volumes:
    - ./bin/tls/localMinio-key.pem:/root/.minio/certs/private.key
    - ./bin/tls/localMinio.pem:/root/.minio/certs/public.crt
    - ./.data/localMinio:/data

  cloudStorage:
    image: golang:1.9-alpine
    command:
    - /wwm/cloudStorage
    volumes:
    - ./.bin/:/wwm
    - ./bin/tls:/certs:ro
    - ./bin/tls/ca.pem:/etc/ssl/certs/ca-iryo.pem:ro
    # environment:
    # - DEBUG=1

  cloudMinio:
    image: minio/minio
    command:
    - server
    - /data
    environment:
    - MINIO_ACCESS_KEY=cloud
    - MINIO_SECRET_KEY=cloudminio
    volumes:
    - ./bin/tls/cloudMinio-key.pem:/root/.minio/certs/private.key
    - ./bin/tls/cloudMinio.pem:/root/.minio/certs/public.crt
    - ./.data/cloudMinio:/data

  cloudAuth:
    build:
      context: .
    image: golang
    command:
    - /wwm/cloudAuth
    volumes:
    - ./.bin/:/wwm
    - ./.data/cloudAuth:/data
    - ./bin/tls:/certs

  localNats:
    image: nats-streaming
    ports:
    - 4242:4242
    - 8282:8282
    command:
    - --stan_config=/etc/nats/config.conf
    volumes:
    - ./bin/tls/localNats-key.pem:/etc/nats/certs/private.key:ro
    - ./bin/tls/localNats.pem:/etc/nats/certs/public.crt:ro
    - ./bin/tls/ca.pem:/etc/nats/certs/ca-iryo.pem:ro
    - ./bin/tls/localNatsStreaming-key.pem:/etc/nats/certs/streaming_client_private.key:ro
    - ./bin/tls/localNatsStreaming.pem:/etc/nats/certs/streaming_client_public.crt:ro
    - ./localNats.conf:/etc/nats/config.conf:ro
    - ./.data/localNats:/data

  storageSync:
    image: golang:1.9-alpine
    command:
    - /wwm/storageSync
    volumes:
    - ./.bin/:/wwm
    - ./bin/tls/storageSyncConsumer-key.pem:/certs/private.key:ro
    - ./bin/tls/storageSyncConsumer.pem:/certs/public.crt:ro
    - ./bin/tls/ca.pem:/etc/ssl/certs/ca-iryo.pem:ro

  localPrometheus:
    image: prom/prometheus
    command:
    - --config.file=/etc/prometheus.yml
    - --storage.tsdb.path=/data
    volumes:
    - ./localPrometheus.yml:/etc/prometheus.yml:ro
    - ./localPrometheusRules.yml:/etc/rules.yml:ro
    - ./bin/tls/ca.pem:/etc/ssl/certs/ca-iryo.pem:ro
    - ./bin/tls/localPrometheus-key.pem:/certs/private.key:ro
    - ./bin/tls/localPrometheus.pem:/certs/public.crt:ro
    - ./.data/localPrometheus:/data

  cloudPrometheus:
    image: prom/prometheus
    command:
    - --config.file=/etc/prometheus.yml
    - --storage.tsdb.path=/data
    volumes:
    - ./cloudPrometheus.yml:/etc/prometheus.yml:ro
    - ./localPrometheusRules.yml:/etc/rules.yml:ro
    - ./bin/tls/ca.pem:/etc/ssl/certs/ca-iryo.pem:ro
    - ./bin/tls/cloudPrometheus-key.pem:/certs/private.key:ro
    - ./bin/tls/cloudPrometheus.pem:/certs/public.crt:ro
    - ./.data/cloudPrometheus:/data

  natsStreamingExporter:
    image: registry.gitlab.com/civist/nats-streaming-exporter
    command:
    - /nats-streaming-exporter
    - -nats-uri=http://localNats:8282/
    ports:
    - 9275:9275

  batchStorageSync:
    image: golang:1.9-alpine
    command:
    - /wwm/batchStorageSync
    volumes:
    - ./.bin/:/wwm
    - ./.data/batchStorageSync:/data/
    - ./bin/tls/batchStorageSync-key.pem:/certs/private.key:ro
    - ./bin/tls/batchStorageSync.pem:/certs/public.crt:ro
    - ./bin/tls/ca.pem:/etc/ssl/certs/ca-iryo.pem:ro

  localPrometheusPushGateway:
    image: prom/pushgateway

  waitlist:
    build:
      context: .
    image: golang
    command:
    - /wwm/waitlist
    volumes:
    - ./.bin/:/wwm
    - ./.data/waitlist:/data
    - ./bin/tls/waitlist-key.pem:/certs/private.key:ro
    - ./bin/tls/waitlist.pem:/certs/public.crt:ro

  localStatusReporter:
    image: golang:1.9-alpine
    command:
    - /wwm/localStatusReporter
    volumes:
    - ./.bin/:/wwm
    - ./bin/tls:/certs:ro
    - ./bin/tls/ca.pem:/etc/ssl/certs/ca-iryo.pem:ro
