.patientCard {
    img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        float: left;
        margin-right: 10px;
    }

    .dob {
        font-weight: normal;

        .age {
            display: inline-block;

            &::before,
            &::after {
                display: inline-block;
                margin: 0 4px;
                content: "\B7";
            }
        }
    }
}
