@import "fonts.scss";
@import "variables.scss";

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/close";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";

//@import "bootstrap/scss/bootstrap.scss";

@import "icons/style.css";

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;

    #root {
        display: flex;
        flex-grow: 1;
    }
}

h1,
h2,
h3,
.table th {
    color: #000;
}

.alert {
    position: relative;
    top: -50px;
    z-index: 1;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

.btn-wide {
    padding-left: 40px;
    padding-right: 40px;
}

.table.patients {
    margin: 0;

    th,
    td {
        border-top: 0;
        border-bottom: 1px solid $grey3;
        vertical-align: middle;
        padding: 20px 0;
    }

    tbody tr th {
        min-width: 200px;
    }

    td:last-child {
        width: 1%;
        white-space: nowrap;
    }
}

nav {
    width: 230px;
    display: flex !important;
    flex-direction: column;
    background-color: $gray-100;
    border-right: 1px solid $gray-200;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;

    .logo {
        margin-top: 50px;
        margin-bottom: 130px;
    }

    .bottom {
        margin-top: auto;
    }

    a.navigation {
        color: $gray-500;
        height: 30px;
        line-height: 30px;
        display: block;

        svg {
            width: 30px;
            float: left;

            g,
            path {
                fill: $gray-500;
            }
        }

        &:hover,
        &.active {
            text-decoration: initial;
            color: $black;

            svg g,
            svg path {
                fill: $black;
            }
        }
    }
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 230px;

    & > .container {
        margin-top: 50px;
    }
}
