@import "../../styles/variables.scss";

.login-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 330px;
    margin: 0 auto;

    .login {
        margin: auto;
        width: 100%;
    }

    .logo {
        margin-top: 130px;
        align-self: flex-start;
        img {
            width: 200px;
        }
    }

    .login .form-control:focus {
        z-index: 2;
    }

    .footer {
        height: 150px;
    }

    .login .alert {
        position: static;
        margin: 0;
        font-size: 9px;
        color: $white;
        text-transform: uppercase;
        padding: 0px 8px;
        background: $danger;
        border-radius: 7px;
        font-weight: bold;

        transition: height 0.1s, margin 0.1s, padding 0.1s;
        transition-timing-function: ease-in-out;

        &.show {
            height: auto;
            padding: 3px 8px;
            margin-bottom: 14px;
        }
    }
}
