@import "shared/styles/variables.scss";

nav {
    width: 230px;
    display: flex !important;
    flex-direction: column;
    background-color: $gray-100;
    border-right: 1px solid $gray-200;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;

    .logo {
        margin-top: 50px;
        margin-bottom: 130px;
    }

    .bottom {
        margin-top: auto;
    }

    a.navigation {
        color: $gray-500;
        height: 30px;
        line-height: 30px;
        display: block;

        svg {
            width: 30px;
            float: left;

            g,
            path {
                fill: $gray-500;
            }
        }

        &:hover,
        &.active {
            text-decoration: initial;
            color: $black;

            svg g,
            svg path {
                fill: $black;
            }
        }
    }
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 230px;

    & > .container {
        margin-top: 50px;
    }
}
