@import "shared/styles/variables.scss";
@import "bootstrap/scss/mixins/breakpoints";
@import "bootstrap/scss/mixins/grid";
@import "bootstrap/scss/mixins/grid-framework";
@import "bootstrap/scss/grid";

.modal {
    .patientCard {
        margin: -30px 0 40px;
    }

    .modal-header h1 {
        position: relative;

        svg {
            position: absolute;
            left: -45px;
        }
    }

    .medical-data {
        h3 {
            font-size: 24px;
            margin: 40px 0 20px 0;
        }

        .section {
            margin: 20px 0 20px;
            padding: 0;
            border-top: none;

            &.open {
                border-top: 1px solid $grey2;

                &:first-child {
                    border-top: none;
                }
            }

            h4 {
                text-transform: uppercase;
                margin-top: 20px;
                margin-bottom: 12px;
                font-size: 11px;
            }

            .form-row.title {
                padding-top: 60px;
            }

            .form-row,
            .hearing-row {
                margin-left: -7px;
                margin-right: -7px;
                padding: 30px 0 0;
                position: relative;

                [class*="col-sm"] {
                    padding-left: 7px;
                    padding-right: 7px;
                }

                .unit {
                    line-height: 40px;
                }
            }
        }

        .modal-footer {
            .form-row {
                padding-top: 30px;
                border-top: 1px solid $grey2 !important;
            }
        }

        .modal-body .btn-link {
            padding: 0;
        }

        .hearing-row {
            margin-bottom: 20px;
            @include make-row();

            .col-sm-1 {
                @include make-col-ready();
                padding-left: 7px;
                padding-right: 7px;

                @include media-breakpoint-up(sm) {
                    @include make-col(1, $columns: 8);
                }
            }
        }
    }

    .visual {
        display: relative;
        &:after {
            content: "/";
            position: absolute;
            right: -3px;
            line-height: 40px;
        }
    }

    .hearing-row .label,
    .form-row.title h4 {
        position: absolute;
        margin: -38px 0 0 7px;
    }
}

.lab-test {
    .form-inline-container {
        border-top: 1px solid $grey2;
        padding: 20px 0;
        display: flex;

        .label {
            flex: 1;
        }

        .form-check-inline {
            margin: 0 20px;
        }

        &:last-child {
            border-bottom: 1px solid $grey2;
        }
    }
}

.add-diagnosis {
    h2 {
        margin: 0px 0 40px 0;
    }

    .Select-multi-value-wrapper,
    .Select-arrow-zone,
    .Select-arrow,
    .Select-value-label,
    .Select-clear-zone {
        position: initial;
        top: 0;
    }

    .Select-menu-outer {
        z-index: 1000;
    }
}

