@import "shared/styles/variables.scss";
@import "bootstrap/scss/mixins/breakpoints";
@import "bootstrap/scss/mixins/grid";
@import "bootstrap/scss/mixins/grid-framework";
@import "bootstrap/scss/grid";

.modal {
    .patientCard {
        margin: -30px 0 5px;
    }

    .modal-header h1 {
        position: relative;
        margin-top: 35px;

        svg {
            position: absolute;
            left: -45px;
        }
    }

    .medical-data {
        h3 {
            font-size: 24px;
            margin: 40px 0 5px 0;
        }

        button {
            font-weight: bold;
        }

        .section {
            margin: 20px 0 0px;
            padding: 0;
            border-top: none;

            &.open {
                border-top: 1px solid $grey2;

                &:first-child {
                    border-top: none;
                    margin-top: 0px;
                }
            }

            h4 {
                text-transform: uppercase;
                font-weight: normal;
                margin-top: 20px;
                margin-bottom: 12px;
                font-size: 11px;
            }

            .form-row.title {
                padding-top: 60px;
            }

            .form-row,
            .hearing-row {
                margin-left: -7px;
                margin-right: -7px;
                padding: 35px 0 0;
                position: relative;

                [class*="col-sm"] {
                    padding-left: 7px;
                    padding-right: 7px;
                }

                .unit {
                    line-height: 40px;
                }

                .form-group {
                    .inputWithUnit-2 {
                        flex: 0 0 17%;
                        max-width: 17%;
                    }
                }
            }
        }

        .modal-footer {
            .form-row {
                padding-top: 30px;
                border-top: 1px solid $grey2 !important;
            }
        }

        .modal-body {
            padding-bottom: 0px;
            .btn-link {
                padding: 0;
            }
        }

        .hearing-row {
            margin-bottom: 20px;
            @include make-row();

            .col-sm-1 {
                @include make-col-ready();
                padding-left: 7px;
                padding-right: 7px;

                @include media-breakpoint-up(sm) {
                    @include make-col(1, $columns: 8);
                }
            }
        }
    }

    .visual {
        display: relative;
        &:after {
            content: "/";
            position: absolute;
            right: -3px;
            line-height: 40px;
        }
    }

    .hearing-row .label,
    .form-row.title h4 {
        position: absolute;
        margin: -38px 0 0 7px;
    }
}

.lab-test {
    .form-inline-container {
        border-top: 1px solid $grey2;
        padding: 20px 0;
        display: flex;

        .label {
            flex: 1;
        }

        .form-check-inline {
            margin: 0 20px;
        }

        &:last-child {
            border-bottom: 1px solid $grey2;
        }
    }
}

.add-diagnosis {
    .diagnosisSelect {
        position: relative;
        z-index: 1000;
        margin-bottom: -5px;
    }

    .Select-multi-value-wrapper,
    .Select-arrow-zone,
    .Select-arrow,
    .Select-value-label,
    .Select-clear-zone {
        text-transform: none;
        margin: auto;
        outline: none;
        position: initial;
        font-size: 14px;
    }

    .Select-value {
        top: auto;
        margin-top: 1px;
    }

    .Select-input {
        margin: auto;
        input {
            margin: auto;
            height: initial;
        }
    }

    .Select-control{
        border:0
    }

    .Select-menu-outer {
        position: absolute;
        z-index: -1;
    }

    .form-group {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .form-row {
        margin-top: 25px;
        &:first-child {
            margin-top: 20px;
        }
    }

    .therapies {
        margin-top: 15px;
        .section {
            padding: 10px 0 10px;
            border-top: 1px solid $grey2;
            &:last-child {
                border-bottom: 1px solid $grey2;
            }
            .remove {
                padding: 0;
            }
        }
    }
}

.summary {
    .modal-header {
        text-align: center;
        .headerMessage {
            padding-top:30px;
        }
    }

    .modal-body {
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0 !important;
            margin-bottom: 0.5rem !important;
        }


        .row {
            margin: 0px 0px 20px 0px;
            &:last-child {
                margin-bottom: 0px;
            }
            dl {
                margin-bottom: 0px;
            }
            dd {
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        .summaryBox {
            padding: 60px;
            border-radius: 6px;
            background-color: $grey1;
            border: solid 1px $grey2;
            border: solid 1px $grey2;

            .header {
                border-bottom: 1px solid $grey2;
                padding-bottom: 5px;
                margin-bottom: 30px;
            }

            label {
                text-transform: uppercase;
                margin-bottom: .1rem;
                font-size: 11px;
                letter-spacing: 0.5px;
                text-align: left;
                color: $grey5;
            }
        }
    }

    .modal-footer {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .col {
            button {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                max-width: 260px;
            }
        }
    }
}
