@import "shared/styles/variables.scss";

.patients {
    header {
        display: flex;

        h1 {
            flex-grow: 1;
            margin: 0;
        }

        button {
            align-self: flex-end;
        }
    }

    .search {
        width: 100%;
        margin: 35px 0;
        padding: 8px 50px;
        border: 0;
        border-bottom: 1px solid $grey3;

        transition: border-color 0.1s;
        transition-timing-function: ease-in-out;

        &:focus {
            caret-color: $primary;
            outline: none;
            border-bottom-color: $primary;
        }

        &::placeholder {
            color: $input-placeholder-color;
        }
    }
}
