@import "shared/styles/variables.scss";

.patients {
    .search {
        margin: 35px 0;
        width: 100%;

        input {
            padding: 8px 45px;
            background-repeat: no-repeat;
            background-position: 5px 3px;
            background-image: url("~shared/icons/search.svg");

            transition: border-color 0.1s;
            transition-timing-function: ease-in-out;
            border-right: 0;
            border-bottom: 1px solid $gray-300;

            &:focus {
                caret-color: $primary;
                outline: none;
                border-bottom-color: $primary;
            }

            &::placeholder {
                color: $input-placeholder-color;
            }
        }

        button {
             border-left: 0px;
             border: 1px solid $gray-300;
        }
    }
}
