@import "shared/styles/variables.scss";

.patient-form {
    h3 {
        font-size: 18px;
        padding: 15px 0;
        border-bottom: 1px solid $gray-300;
        margin-bottom: 30px;
    }

    .image {
        width: 100px;
        height: 100px;
        display: inline-block;
        border-radius: 50px;
        background-color: $gray-100;
        border: 1px solid $gray-300;
        background-size: contain;
    }

    .btn-image {
        margin: 30px 10px;
    }

    .custom-file-input {
        position: absolute;
        top: 0;
        left: -100px;
        height: 100px;
        cursor: pointer;
    }

    .form-row {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .search {
        margin-bottom: 50px;

        .Select-menu-outer {
            z-index: 1000;
        }

        .patientCard {
            margin: 0;
        }

        .table.patients th,
        .table.patients td {
            border-bottom: 0;
        }

        .Select-control {
            background: url("~shared/icons/search.svg") 5px 1px no-repeat !important;

            border-radius: 3px;
            border-color: $gray-300;
        }

        .Select-placeholder,
        .Select-input,
        .Select-value {
            padding-left: 40px !important;
        }
    }

    .remove {
        margin-top: -80px;
    }

    .habits {
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-300;

        .form-row {
            margin-top: 40px;
        }
    }
}
