@import "iryo-variables.scss";
@import "fonts.scss";
@import "bootstrap/scss/bootstrap";

@import "icons/style";

h1,
h2,
h3,
.table th {
    color: #000;
}

main.container {
    margin-top: 2rem;
    position: relative;
}

.alert {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
