@import "iryo-variables";
@import "fonts.scss";
@import "bootstrap/scss/bootstrap";

@import "icons/style";

main.container {
    margin-top: 2rem;
    position: relative;
}

.alert {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
