@import "shared/styles/variables.scss";

.complaintForm {
    .modal-body {
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0 !important;
            margin-bottom: 0.5rem !important;
        }
        border-top: 1px solid $grey2;
        border-bottom: 1px solid $grey2;

        .form-row {
            margin: 20px 0;
        }

        label {
            width: 100%;

            input,
            span,
            textarea,
            select {
                display: inline-block;
            }

            span {
                top:0px;
                position: relative;
                text-transform:none;
                font-size: 14px;
                font-weight: bold;
                padding-top: .5rem;
                text-align: left;
                color: $black
            }

            input,
            textarea,
            select {
                width: 66.66%;
                float: right;
            }
            .invalid-feedback {
                display: block;
                width: 66.66%;
                float: right;
                position: relative;
            }
            .form-check-inline {
                margin: 0;
                width: 25%;
            }
            .label {
                width: 33.33%;
                display: inline-block;
            }
        }

        .details span {
            visibility: hidden;
        }

        .form-group {
            .form-inline-container {
                width: 100%;

                .label {
                    width: 33.33%;
                    display: inline-block;
                    position: relative;
                    text-transform:none;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: left;
                    color: $black
                }

                .form-check-inline {
                    margin: 0;
                    width: 25%;
                }
            }
        }
    }

    .modal-footer {
        width: 66.66%;
        float: right;
    }
}

@media (min-width: 1350px) {
    .cardContainer {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 1150px) and (max-width: 1349px) {
    .cardContainer {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

@media (max-width: 1149px) {
    .cardContainer {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
