@import "shared/styles/variables.scss";
@import "bootstrap/scss/mixins/breakpoints";
@import "bootstrap/scss/mixins/grid";
@import "bootstrap/scss/mixins/grid-framework";
@import "bootstrap/scss/grid";

.buttons {
    padding-top: 25px;
}

.danger {
    color: $danger;
    background: url("~shared/icons/warning.svg") no-repeat;
    padding-left: 25px;
}

.negative {
    color: $black;
    font-weight: bold;
    background: url("~shared/icons/negative.svg") no-repeat;
    padding-left: 25px;
}

.positive {
    color: $black;
    font-weight: bold;
    background: url("~shared/icons/positive.svg") no-repeat;
    padding-left: 25px;
}

span {
    &.danger,
    &.negative,
    &.positive {
        padding-top: 2px;
    }
}

dt {
    &.danger,
    &.negative
    &.positive {
        padding-top: 1px;
    }
}

.withIconComment {
    padding-left: 25px;
    padding-top: 2px;
}


.waitlist-detail {
    display: flex;

    .btn {
        margin-left: 15px;
        &:first-child {
            margin-left: 0px;
        }
    }

    .sidebar {
        width: 240px;
        margin-right: 20px;

        .patientCard {
            margin-top: -15px;
        }

        .measurements {
            margin: 0px;
            .col-sm-4 {
                padding-left: 0px;
                padding-right: 8px;
            }
        }

        h5 {
            font-weight: normal;
            text-transform: uppercase;
            color: $grey5;
            margin-bottom: 3px;
            font-size: 11px;
        }

        .row {
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .menu {
            margin-top: 50px;

            ul {
                list-style: none;
                padding: 0;
                font-weight: normal;
            }

            li {
                height: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 14px;
                margin-bottom:0px;
                letter-spacing: 0.5px;
            }

            a {
                color: $grey5;
                display: inline-block;
                font-weight: bold;

                svg {
                    opacity: 0.4;
                    position: relative;
                    top: 10px;
                    left: -5px;
                    margin-right: 5px;
                }

                &.btn-link {
                    padding: 0;
                    margin: 0;
                    color: $mainColor;
                    svg {
                        opacity: 1;
                    }
                }

                &.active {
                    color: $black;

                    svg {
                        opacity: 1;
                    }
                }
            }
        }
    }

    header {
        padding-bottom: 30px;
    }

    .section {
        padding: 50px 0 50px;
        border-top: 1px solid $grey2;

        header {
            margin-bottom: 40px;

            button {
                margin-right: 0;
            }
        }

        h2 {
            font-size: 24px;
            line-height: 40px;

            svg {
                position: absolute;
                margin-top: -2px;
            }
        }

        .card-group {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;

            > div {
                padding: 10px;
            }
        }
    }

    .lab {
        width: 40%;

        dd {
            color: $grey5;
            position: relative;
            border-bottom: 1px solid $grey2;
            padding-bottom: 8px;
            margin-bottom: 8px;

            &:last-child {
                border-bottom: none;
            }
        }

        svg {
            position: absolute;
            right: 0;
            top: -10px;
        }
    }

    .history {
        .section {
            display: flex;
            .content {
                flex: 1;

                .label {
                    text-transform: uppercase;
                    color: $grey5;
                    font-size: 11px;
                }
                .value {
                    font-weight: bold;
                }

                .row {
                    margin-bottom: 40px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }

        .name {
            font-size: 18px;
            font-weight: bold;
            width: 250px;
        }

        .values {
            margin-top: 4px;
            flex: 1;

            .label {
                text-transform: uppercase;
                color: $grey5;
                font-size: 11px;
            }
            .value {
                font-weight: bold;
            }

            .row {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            .item {
                margin-bottom: 20px;
                dt,
                dd {
                    padding-left: 25px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

    .edit-history {
        position: relative;
        .remove {
            z-index: 1;
            right: 10px;
        }

        h3 {
            border-bottom: 0;
        }


        .section {
            padding: 0px;
            padding-bottom: 35px;
            border-bottom: 0px;
            .attributes {
                padding: 10px 0 10px;
                border-top: 1px solid $grey2;
                &:first-child {
                    border-top:0px;
                }

                &:last-child {
                    margin-bottom: -15px;
                }

                &.open {
                    padding: 10px 0 10px;
                    margin-top: 0;

                }
            }

            .label {
                padding: 0 5px 0px 5px;
                margin-top: auto;
                margin-bottom: auto;
            }

            .vaccination {
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $grey2;
                .complexHorizontalRadio {
                    margin-top: 15px;
                    margin-bottom: 0px;
                    &:first-child {
                        margin-top: 0px;
                    }
                }
                .form-row {
                    margin-top: 10px;
                    margin-bottom: 0px;
                    &:first-child {
                        margin-top: 0px;
                    }
                    &.comment {
                        margin-top: 5px;
                    }
                }
            }

            .birth {
                padding-top: 25px;
                padding-bottom: 20px;
                border-bottom: 1px solid $grey2;
                &:last-child {
                    margin-bottom: 0px;
                    border-bottom: 0px;
                    padding-bottom: 0px;
                }
                .form-row {
                    margin-top: 10px;
                    margin-bottom: 0px;
                }
            }

            .habits {
                padding-top: 25px;
                padding-bottom: 25px;
                border-bottom: 1px solid $grey2;
                .complexHorizontalRadio {
                    margin-top: 15px;
                    margin-bottom: 0px;
                    &:first-child {
                        margin-top: 0px;
                    }
                }

                &:last-child {
                    margin-bottom: -30px;
                }

                .form-row {
                    margin-top: 10px;
                    margin-bottom: 0px;
                    &:first-child {
                        margin-top: 0px;
                    }
                    &.comment {
                        margin-top: 5px;
                    }
                }
            }
        }

		.vaccination,
        .habits {
            .label {
                padding: 0 5px 0px 5px;
            }

            /*
            .label {
                @include media-breakpoint-up(sm) {
                    @include make-col(4);
                }
            }
            */
            .comment {
                margin-top: 20px;
            }
        }
    }
}

.personal {
    .navigation {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;

        a {
            display: inline-block;
            margin-right: 30px;
            padding-bottom: 20px;
            color: $grey4;

            &.active {
                border-bottom: 3px solid $black !important;
                color: $black;
            }

            &:hover {
                border-bottom: 3px solid $grey4;
                text-decoration: none;
            }
        }
    }

    .section {
        padding-top: 25px;
        display: flex;

        .row {
            flex: 1;
        }

        h3 {
            width: 240px;
            font-size: 18px;
        }

        .buttons {
            margin-top: 20px;
        }

        .content {
            flex: 1;

            .label {
                text-transform: uppercase;
                color: $grey5;
                font-size: 11px;
            }
            .value {
                font-weight: bold;
            }

            .row {
                margin-bottom: 40px;
            }
        }
    }

    .patient-form {
        h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .btn-link {
            font-weight: bold;
            padding-left: 5px;
        }

        .image {
            width: 100px;
            height: 100px;
            display: inline-block;
            border-radius: 50px;
            background-color: $gray-100;
            border: 1px solid $grey2;
            background-size: contain;
        }

        .btn-image {
            margin: 30px 10px;
        }

        .custom-file-input {
            position: absolute;
            top: 0;
            left: -100px;
            height: 100px;
            cursor: pointer;
        }

        .form-row {
            margin-top: 25px;
            .form-group {
                margin-bottom:0px;
            }
            &:first-child {
                margin-top: 20px;
            }
            &:last-child {
                margin-bottom: 10px;
            }
            .valueWithUnit {
                display: inline-block;
                flex: 0 0 66.6666%;
                max-width: 66.6666%;
            }
            .unit {
                position: relative;
                display: inline;
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
                padding-left: 8px;
            }
        }

        .search {
            margin-bottom: 30px;

            .Select-menu-outer {
                z-index: 1000;
            }

            .patientCard {
                margin: 0;
            }

            .table.patients th,
            .table.patients td {
                border-bottom: 0;
            }

            .Select-control {
                background: url("~shared/icons/search.svg") 5px 1px no-repeat !important;

                border-radius: 3px;
                border-color: $gray-300;
            }

            .Select-placeholder,
            .Select-input,
            .Select-value {
                padding-left: 40px !important;
            }
        }

        .section {
            display: block !important;
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px solid $grey2;
            &:last-child {
                border-bottom: 1px solid $grey2;
            }
            .remove {
                padding: 0;
            }
        }

        .familyMembers {
            .searchBar {
                margin-top: 10px;
                margin-bottom: -20px;
            }
            .form-row {
                &:last-child {
                    margin-bottom:0px;
                }
            }
        }
    }

}

.records {
    dl {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    dd {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    .diagnosisReference {
        margin-botton: 5px;
        color: $grey5;
        font-size: 12px;
    }


    .partHeader {
        cursor: pointer;
        &:hover {
          text-decoration: none;
          cursor: pointer;
          color: $grey5;
        }
    }

    .section {
        padding-left: 50px;
        position: relative;
        padding-top: 15px;
        padding-bottom: 0px;
        margin-top:5px;
        margin-bottom:25px;
        border-bottom: 1px solid $grey2;
    }

    svg {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
    }

    h3 {
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    h4 {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 0;
    }

    .missing {
        color: $grey5;
    }

    .dateheader {
        color: $grey4;
        font-size: 16px;
    }

    .context {
        opacity: 0.3;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.79;
        color: $black;
    }

    .comment {
        margin: 10px 0;
    }

    .part {
        padding: 10px 0;
        border-top: 1px solid $grey3;
        margin-bottom: 0;
    }
}


.medicalData {
    .section {
        padding-left: 50px;
        position: relative;
        padding-top: 15px;
        padding-bottom: 0px;
        margin-top:5px;
        margin-bottom:25px;
    }
    .part {
        margin-top: 10px;
        border-bottom: 1px solid $grey2;
    }
    .missingHistory {
        padding-top: 10px;
        color: $grey5;
    }
}

.consultation {
    .section {
        padding: 30px 0 35px;
        border-top: 1px solid $grey2;

        header {
            padding-bottom: 15px;
            margin-bottom: 0px;
            .btn {
                font-weight: bold;
            }
        }

        .part {
            padding-left: 45px;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0px;
            }
            .btn {
                font-weight: 400;
            }
        }

        .subsection {
            padding-left: 45px;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0px;
            }
            header {
                padding-bottom: 5px;
                h3 {
                    flex-grow: 1;
                    color: $grey5;
                    font-weight: normal;
                    text-transform: uppercase;
                }
                .btn {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    font-weight: bold;
                }
            }
        }

        dl {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        dt {
            &.with-btn {
                display: flex;
            }
            margin-bottom: 5px;

            h3, h4 {
                margin: 0px;
                flex-grow: 1;
            }
            .btn {
                padding-top: 0px;
                padding-bottom: 0px;
            }
            .diagnosisReference {
                margin-top: 3px;
                color: $grey5;
                font-size: 12px;
            }
        }

        dd {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0px;
            }
        }

        h2 {
            font-size: 24px;
            line-height: 40px;

            svg {
                position: relative;
                margin-right:5px;
                margin-bottom:-11px;
                margin-top:0px;
                padding:0px;
            }
        }

        .diagnosis {
            header {
                padding-bottom: 0px;
                h3, h4 {
                    flex-grow: 1;
                }
                .btn {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            }

            p {
                margin-bottom: 0px;
            }
        }

        .complementaryDiagnosis {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom:0px;
            }
            header {
                padding-bottom: 0px;
                h3, h4 {
                    flex-grow: 1;
                }
                .btn {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            }
            p {
                margin-bottom: 0px;
            }
        }

        .missing {
            color: $grey5;
        }

        .card-group {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;

            > div {
                padding: 10px;
            }
        }
    }
}

.tooltip {
    font-size: 11px;
    color: $white;
    margin-top:5px;
    padding: 5px;
    border-radius: 4px;
    background-color: $grey5;
    border: 1px solid $grey2;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);

    .arrow {
        position: absolute;
        bottom: 100%;
        left: 20px !important;
        right: auto !important;
        background: $grey5;
    }
    .arrow:after, .arrow:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $grey5;
        border-width: 6px;
        margin-left: -6px;
    }

    .arrow:before {
        border-color: rgba(235, 241, 245, 0);
        border-bottom-color: $grey2;
        border-width: 7px;
        margin-left: -7px;
    }
}
